<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block  title %}
        <title>Teamwork</title>
    {% endblock %}
</head>
<body>
<main>
    {% block content %}
    {% endblock %}
</main>

</body>
</html>